.container {
  display: flex;
  background: black;
  min-width: 1150px;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

span {
  font-size: 20px;
  padding-left: 5px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.container-wrapper{
  background: white;
  min-width: 1150px;
  min-height: 700px;
  display: flex;
  box-shadow: 7px 9px 25px 1px rgba(0,0,0,0.74);
}

.left-side-container{
  min-width: 300px;
  min-height: 100%;
  border-radius: 2%;
  display: block;
  justify-content: center;
  align-content: center;
  padding-top: 20%;
}

.right-side-container{
  min-width: 870px;
  min-height: 90vh;
  border-radius: 2%;
}

.legend-color {
  width: 10px; height: 10px; margin-left: 5px; 
       display: inline-block; 
}
