

.container {
  display: flex;
  min-width: 1150px;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-wrapper{
  min-width: 1150px;
  min-height: 700px;
  background-color: black;
  display: flex;
  box-shadow: 7px 9px 25px 1px rgba(0,0,0,0.74);
}

.left-side-container{
  min-width: 300px;
  min-height: 100%;
  border-radius: 2%;
  display: block;
  justify-content: center;
  align-content: center;
}

.right-side-container{
  min-width: 870px;
  background-color: black;
  min-height: 90vh;
  border-radius: 2%;
}

#chart-area {
  background: url("bball.png") no-repeat;
  background-size: auto;
  width: 100%;
	height: 100%;
  background-color: black;
}

.form-control{
  z-index: 100;
  border-radius: 5px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  box-sizing:border-box;
  color:rgb(51, 51, 51);
  cursor:pointer;
  font-family:Lato, Arial, sans-serif;
  font-size:15px;
  font-weight:400;
  height:42px;
  outline-color:rgb(51, 51, 51);
  outline-width:0px;
  width:130px;
}

.form-tags {
	color: white;
}

.row-form {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}

/*  */
/*  */
/* CSS Reset */
/*  */
/*  */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
